 *, ::after, ::before {
    box-sizing: border-box;
  } 

html {
    background: black;
    height: 100%;
}

body {
    background-image: url("concert_background_1280x960.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
/* Sits on top of the page content and cover 100% of page */
.bg-image-overlay {
    position: fixed; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Opacity */
    z-index: 0; /* Stack order */
} 

#about-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
    }

#close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
    margin: 16px;
    }

.about-overlay-text {
    position: absolute;
    width: 275px;
    height: 500px;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    overflow: auto;  
 }   

.p-overlay-text {
    padding: 10px 0;
 }

h2 {
    margin: 10px 0px 20px 0px;
 }

 h5 {
    display: inline-block;
    padding: 2px;
    margin: 20px 0px 0px;
    border: 0.5px solid white;
 }

.h5good {
    background: green;
}

.h5blue {
    background: blue;
}

.h5dance {
    background: purple;
}

.h5energy {
    background: orangered;
}

header {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}
h1 {
    font-size: 20px;
}

header img {
    height: 40px;
}

button {
    background: transparent;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.playlists-container {
    position: relative;
    width: 302px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Accordion "question" */
.bar-border {
    height: 80px;
    width: 302px; 
    border: 1px solid white;
    margin: 10px;
}

.bar {
    width: 0%;    
    height: 78px;
    font-size: 24px;
    display: flex;
    align-items: center;
    animation: showProgress 4s forwards; 
    transition: ease-out;
}

.bar-border:hover {
    cursor: pointer;
}

p {
    margin: 0px;
    padding: 10px;
}

/* Accordion "answer" */
#feelgoodContainer {
    width: 302px;
    height: auto;
    border: 1px solid white;
    margin: 10px;
    animation: showPlaylist 2s forwards; 
    transition: ease-out;
}

#blueContainer {
    width: 302px;
    height: auto;
    border: 1px solid white;
    margin: 10px;
    animation: showPlaylist 2s forwards; 
    transition: ease-out;
}

#danceContainer {
    width: 302px;
    height: auto;
    border: 1px solid white;
    margin: 10px;
    animation: showPlaylist 2s forwards; 
    transition: ease-out;
}

#energyContainer {
    width: 302px;
    height: auto;
    border: 1px solid white;
    margin: 10px;
    animation: showPlaylist 2s forwards; 
    transition: ease-out;
}
/* Transition/animation on hide playlist still to fix */
.hide {
    display: none;
}

iframe {
    border: none;
    animation: showTrack 2s forwards;
    transition: ease-out;
}


@keyframes showProgress {
0% { width: 0%;}
100% { width: 90%;}
}

@keyframes showPlaylist {
    0% { height: 0;}
    100% { height: 250px;}
    }

@keyframes showTrack {
    0% { height: 0;}
    100% { height: 80px;}
    }

.feelgood {
    background: green;
}

.feelblue {
    background: blue;
}

.dance {
    background: purple;
}

.energy {
    background: orangered;
}

footer {
    position: relative;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}

.p-footer {
    margin: 0px;
    padding: 10px 0px;
    font-size: 12px;
}

@media (min-width: 650px) {
    .about-overlay-text {
        width: 350px;
        height: unset;
        top: 45%;
        left: 50%;
     } 
    #close {
        top: 24px;
        right: 24px;
        font-size: 24px;
        }
    header {
        margin-right: 24px;
        margin-left: 24px;
        }
    .playlists-container {
        top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: unset;
    }
    footer {
        top: 100px;
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media (min-width: 900px) {
    .about-overlay-text {
        width: 500px;
        height: unset;
        top: 50%;
        left: 50%;
     } 
    header {
        margin-right: 32px;
        margin-left: 32px;
        } 
    .playlists-container {
        width: 100%;
        }
    footer {
        margin-right: 32px;
        margin-left: 32px;
    }
}
