body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 375px;
    height: 80px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    height: 40px;
}

.hamburger-icon img {
    height: 40px;
}

.playlist-container {
    width: 350px;
    height: auto;
}
.bar-border {
    height: 50px;
    width: 320px; 
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
}

.bar {
    width: 0%;    
    height: 50px;
    border-radius: 5px;
    background: darkslategray;
    font-size: 20px;
    animation: showProgress 4s forwards; 
    transition: ease-out;
}


@keyframes showProgress {
0% { width: 0%;
}
100% { 
    width: 85%;
 }
}

.feelgood {
   
}

.feelblue {
   
}

.dance {

}

.energy {
   
}

footer {
    height: 50px;
}